<div class="container">
    <h2>Where does the template get inserted?</h2> 
    <p>When a state is activated, its templates are automatically inserted into the ui-view of its parent state's template. If it's a top-level state—which 'home' is because it has no parent state–then its parent template is index.html. Right now, the 'home' state won't ever be activated. So let's see how we can activate a state.</p>

    <h2>Activating a state</h2> 
    <p>There are three main ways to activate a state:</p>
    <p>Call $state.go(). High-level convenience method.<a href="https://github.com/angular-ui/ui-router/wiki/Quick-Reference#stategoto--toparams--options">Learn More</a></p> 
    <p>Click a link containing the ui-sref directive.<a href="https://github.com/angular-ui/ui-router/wiki/Quick-Reference#ui-sref">Learn More</a></p>  
    <p>Navigate to the url associated with the state. <a class="internal present" href="/angular-ui/ui-router/wiki/URL-Routing">Learn More</a></p>
</div>